body{
  margin:0;
  text-align: center;
  font-family:'Roboto', sans-serif;
  line-height:2;
  background-color:  #f9f7f7;
}

h1{
  display: block;
  margin-top:0;
  font-family:'Merriweather', serif;
}

h2{
font-family:'Merriweather', serif;
font-size:2rem;
color:#112d4e;
}

h3{
font-family:'Merriweather', serif;
color:#3f72af;
}

hr{
  border-color:#C2C2C2;
  border-style: dotted none none none;
  border-width: 8px;
  height:0;
  padding: 20px;
  width:5%;
}

button{
  padding: 10px 20px;
  background-color: #3f72af;
  margin-bottom: 25px;
  border-radius: 8px;
}

button:hover{
  background-color:black;
}

.top-container{
  background-color: #112d4e/*#FFF3E0*/;
  position:relative;
  padding-top: 15%;
  padding-bottom: 3%;

}

.middle-container{
  background-color: white;
  /* height:200px;
  display:inline-block; */

}

.bottom-container{
  background-color: #dbe2ef;
  /* height:200px;
  display:inline-block; */
  padding-top:1.5%;
  padding-bottom:1.5%;
}

.earth-pic{
  padding-top:7%;
}

.iss{
  position:absolute;
  left:18%;
  height:16.5%;
}

.moon{
  height:23%;
  position:absolute;
  right:16.5%;
  top:5%;

}

.name{
  color:#f9f7f7;
  font-family:'Sacramento', sans-serif;
  font-size:3.125rem;
  margin-bottom:0px;
}

.intro{
  color:#f9f7f7;
  font-family:'Merriweather', serif;
  font-size:1rem;
  margin-top:0;
}

.python-pic{
  /* height:300px; */
  width:20%;
}

.dev-pic{
  width:20%;

}
.dev-attr{
  font-size: 11px;
  line-heght:1;
}

.footer-link{
  text-decoration: none;
  color:#3f72af;
  margin:auto 50px;
}

.attr-link{
  margin: auto 0;
  text-decoration:none;
  color:#3f72af;
}

.attr-link:hover{
  color:black;
}

.footer-link:hover{
  text-decoration: none;
  color:black;
}

.skill-row{
  /* display:inline-block; */
  width:50%;
  margin:50px auto 70px auto;

}

.my_skill{
  margin-bottom:0;
}

.contact-button{
  color:#f9f7f7;
  text-decoration:none;
  font-size: 1rem;
}
