body{
  margin:0;
  text-align: center;
  font-family:'Roboto', sans-serif;
}

h1{
  display: block;
  margin-top:0;
  font-family:'Merriweather', serif;
}

h2{
font-family:'Merriweather', serif;
}

h3{
font-family:'Merriweather', serif;
}


.top-container{
  background-color: #112d4e/*#FFF3E0*/;
  position:relative;
  padding-top: 150px;

}

.middle-container{
  background-color: white;
  /* height:200px;
  display:inline-block; */

}

.bottom-container{
  background-color: #dbe2ef;
  /* height:200px;
  display:inline-block; */
}

.earth-pic{
  padding-top:100px;
}

.iss{
  position:absolute;
  left:250px;
  height:150px;
}

.moon{
  height:200px;
  position:absolute;
  right:250px;
  top:40px;

}

.name{
  color:#f9f7f7;
  font-family:'Sacramento', sans-serif;
  font-size: 50px;
}

.intro{
  color:#f9f7f7;
  font-family:'Merriweather', serif;
  font-size:15px;
}

.python-pic{
  height:300px;
}

.dev-pic{
  height:300px;

}
.dev-attr{
  font-size: 11px;
}

.footer-link{
  text-decoration: none;
  color:blue;
}

.footer-link:hover{
  text-decoration: underline;
  color:black;
}

.bottom-container{
  padding-top:1%;
  padding-bottom:0.5%;
}
